body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000; 
}

.netflix{
    position: relative;
    width: 360px;
    height: 520px;
    overflow: hidden;
    transform: scale(0.8);
}

.netflix span{
   position:absolute;
   top:0;
   width:120px;
   height: 100%;
   background: white;
}

.netflix span:nth-child(1){
    background: #b00e12;
    left: 0;
}

.netflix span:nth-child(2){
    background: #e50815;
    left: 121px;
    z-index: 1;
    transform-origin: top-left; 
    transform:skewX(24deg) ;
    box-shadow: 0 0 40px rgba(0,0,0,1); 
}

.netflix span:nth-child(3){
 background: #b00e12;
 right: 0;
}

h3{
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    overflow: hidden;
}